/*  Experience Cloud Site Starter CSS - Fonts, Branding Tokens, and Buttons
    Latest Update: 7/14/24 */

/* --- Default and base font sizes --- */
/* BASE FONT SIZE */
html {font-size: 100%;}
/* Tablet */
@media only screen and (max-width: 820px) {html {font-size: 90%;}}
/* Mobile */
@media only screen and (max-width: 480px) {html {font-size: 80%;}}

/* FONTS - Standard font tags with SLDS equivalents. Using rem to insure site-wide consistancy */
H1, .slds-text-heading_large, .profileName
{font-size:3.0rem !important; font-weight: 400 !important; line-height: initial !important;}

H2, .slds-text-heading_medium, .slds-card__header-title.slds-truncate 
{font-size: 1.7rem !important; font-weight: 400 !important;}

H3, .slds-text-heading_small, .slds-text-heading--small, .baseCard__header-title-container, .selfServiceArticleListItem .article-head
{font-size: 1.3rem !important; font-weight: 400 !important;}

p, .slds-text-body_regular, .siteforceThemeLayoutStarter, .slds-text-heading_x-small, .forceCommunityTopArticleItem .article-title,
.forceCommunityCreateRecordButton .triggerLabel, .forceCommunityCreateRecordForm .button 
{font-size: 1.1rem !important; font-weight: 400 !important;}

/* FONTS - Other common SLDS fonts used on the site */
.slds-text-body_small {font-size: .9rem !important;}
.slds-text-title {font-size: .9rem !important;}
.slds-text-title_caps {font-size: .9rem !important;}
.slds-text-title_bold {font-size: .9rem !important;}

/* Branding tokens - Color */
.brand-color {color: var(--dxp-g-brand) !important;}
.brand-color-1 {color: var(--dxp-g-brand-1) !important;}

/* Bulleted list spacing */
.forceCommunityRichText ol li {margin-bottom: 6px;}

/* Links - Remove all underlines from links */
a:link, a:visited, a:active {text-decoration: none !important;}
a:hover {text-decoration: underline !important;}
/* Tab links - Remove underline (old and new tabs) */
.forceCommunityTabset>.uiTabBar .uiTabItem .tabHeader {text-decoration: none !important;}
.forceCommunityTabLayout .slds-tabs_default__nav .slds-tabs_default__item .slds-tabs_default__link {text-decoration: none !important;}

/* --- END Default and base font sizes --- */

/* --- Buttons ---  */
.html-button,
.askCommunityBtn,           /* Ask a Question  */ 
.selfServiceContactSupport, /* Contact Support */ 
.contactSupportButton,      /* Contact Support */ 
.forceCommunityCreateRecordButton button, /* New record */
.contactRequestButton {border-radius:5px !important; font-size: 1rem !important; height:46px; margin: auto !important; min-width:260px !important;} /* Contact Us Button */ 

/* Button - Ask & Contact Us */   
.cta_header {font-size: 1.3rem !important; font-weight: 400 !important; margin-bottom: -6px;} 
/* @media only screen and (min-width: 48em) {.siteforceNapiliFooter .cta-btn {margin: auto !important;}} */

/* Button - Follow */
.forceCommunityFollow .button {font-size: 1rem !important; width:260px !important;}    
.forceCommunityFollow.group {justify-content:center; width:260px !important;}
.forceCommunityFollow.group.twoButton {width: 260px !important;}

/* Button (HTML) Styling */
.button-style {font-size:1rem; height:46px; border-radius:5px; min-width:260px;}
/* Mobile */ @media only screen and (max-width: 480px) {html .button-style {font-size:1rem; height:36px; border-radius:5px; min-width:230px;}}

/* Button - Quick Create */
.forceCommunityCreateRecordButton button,
.forceCommunityCreateRecordButton .triggerLink,
.forceCommunityCreateRecordButton {font-size:1rem !important; border-radius:5px !important; font-weight:400 !important; margin:auto !important; max-width: 320px !important;}

/* --- END Buttons ---  */