/*  Experience Cloud Site Starter CSS - Builder Components Overrides
    Latest Update: 7/14/24 */

/* --- Article (Knowledge) --- */
/* 	Article Content - Make the content full-width */  
.selfServiceArticleLayout.article-column {padding-left: 0px !important; padding-right: 0px !important; padding-bottom: 12px !important;}   

/* 	Article Content - Title */
.selfServiceArticleLayout .article-head, .selfServiceArticleLayout .breadcrumb {margin: 0px !important;}
.selfServiceArticleLayout .article-head {font-size:28px !important;}

/* 	Article Content - Summary */
.selfServiceArticleLayout .article-summary {margin-bottom: 18px !important; margin-top: 6px !important;}

/* 	Article Content - Hide the summary form the title section */
.selfServiceArticleHeaderDetail .article-summary {display: none;}

/* 	Article Content - hides the last visible section from from the article page layout to hide unwanted fields. */ 
.article-column .test-id__section:last-child,
.forcePageBlockItemView .tooltipIcon /* Hides the title tooltip which is for internal use */
	{display: none !important;}

/* 	Article Content - Section padding */
.forcePageBlockItemView.forcePageBlockItem.slds-col>.slds-form-element.slds-form-element_readonly {padding-bottom: 12px !important;}

/* 	Article Content - Section titles */
.selfServiceArticleLayout .forcePageBlockSectionView.full .test-id__field-label, .selfServiceArticleLayout .forcePageBlockSectionView.full .test-id__grouped-field-label-icon {
    font-size: .8rem !important; font-weight: 400 !important; margin-bottom: 12px !important;}

/* 	Article Content - Reset font size
   	NOTE: This is done to display a consistant font size without any unwatned overrides.*/
.slds-rich-text-editor__textarea, .slds-rich-text-editor__output, 
.selfServiceArticleLayout .forcePageBlockSectionView.full .test-id__field-value {font-size: initial !important;}

/* 	Article Content - Case Deflection & Trending Articles */
.selfServiceTopicTrendingArticles42 li>.comm-topic-trending-articles__item>a {
    background-color: white; border-color: #D4D4D4; border-style: solid; border-width: 1px; border-radius: 5px; margin-top:18px; padding: 12px;}

/* 	Article Content - Related Articles */
.selfServiceSimilarArticles42 li>.comm-related-articles__item>a {padding-bottom:12px !important; padding-top:12px !important; border-width: 0px;}
.comm-related-articles__item .slds-p-bottom_medium {word-break: normal !important;} /* Fix the word break issue */
.comm-related-articles__item {font-size: 1rem !important;}
.selfServiceSimilarArticles42 ul {background-color:#ffffff !important; border-color:#d4d4d4 !important; border-radius:5px !important; border-style:solid !important; border-width:1px !important; padding:12px !important;}							

/* 	Article Content - Top Articles by Topic
   	This is setup for 3 topics, change to 50% for two topics per row */
.forceCommunityTopArticleList .singleListContainer {padding-bottom: 0px !important; width: 33% !important}

/* 	Article Content Mobile - Top Articles by Topic */
@media only screen and (max-width: 480px) {.forceCommunityTopArticleList .singleListContainer {padding-bottom: 12px !important; width: 100% !important}}

/* Topic Details FAQs section */
.selfServiceBaseArticleList .article-list {margin-top:0px !important; margin-bottom:12px !important;}
.selfServiceTopicArticleList .selfServiceArticleListItem {padding-top: 0px; padding-bottom: 24px;}

/* --- END Article (Knowledge) --- */

/* Backgrounds - Common CSS for background and border update to site components */
.forceCommunityCmsContentItemDetailLayout                	/* CMS Connect Detail */,
.forceCommunityContactSupportForm .relative                 /* Contact Support */,
.forceChatterCompactFeed									/* Feed Compact */,
.forceChatterFeedInner				                    	/* Record feed */,
.forceChatterStyle--default.forceChatterFeedElementFullView .cuf-element /* Question detail */,
.forceChatterGroupDetailCard								/* Group Detail - About */,
.forceChatterAddMemberCard									/* Group Detail - Add Member */,
.forceChatterMessageDetailView.container				    /* Messages */,
.forceCommunityTopicCatalog                               	/* Topic Catelog */,
.forceCommunityTopicDescription.slds-card-wrapper		   	/* Topic Description */,
.forceCommunityTopicMetrics.slds-card-wrapper			   	/* Topic Metrics */,
.forceCommunityRecordListDesktop.slds-card					/* Group List */,
.forceCommunityLeadInbox									/* Lead Inbox */,
.forceCommunityUserProfileStats                          	/* My Profile */,
.forceCommunityUserProfileHeaderDetail .cUserProfileCon,
.forceCommunityUserRecognitions				  		        /* My Profile - Recognition Badges */,
.slds-card.slds-card_boundary.forceCommunityUserRecognitions,
.forceCommunityUserSettingsInternal                      	/* My Settings */,
.forceCommunityUserRecognitions .userRecognitionsHeader 	/* Profile - My Badges */,
.forceCommunitySearch .forceSearchResultsGridView .searchScroller        /* Search */
.forceCommunityLwcRecordDetail .slds-card                   /* Record Details */,
.forceCommunityRecordListDesktop                         	/* Record List */,
.forceRecordLayout.slds-page-header,
.forceCommunityRecordListStandard.forceCommunityObjectHome,
.forceCommunityRecordListCompact,
.HealthCloudGAHcCommunityCareTeamList 						/* My Care Plans */,
.HealthCloudGAHcCommunityTaskList						    /* My Tasks */,
.selfServiceArticleLayout .content							/* Article Detail */,  
.selfServiceTopicArticleList								/* Topic Details - Articles */ 
{background-color:#ffffff !important; border-color:#d4d4d4 !important; border-radius:5px !important; border-style:solid !important; border-width:1px !important; padding:12px !important;}

/* CMS Banner */
.forceCommunityBannerLayout .flagContainer {border-radius: 5px !important;}    

/* Contact Support - Case deflection */
.slds-align_absolute-center.comm-deflection-tracking__buttons {padding-top:12px;}
.slds-align_absolute-center.comm-deflection-tracking {margin-top:64px;}
/* Contact Support - Support Form */
.forceSearchInputLookupDesktop.uiInput .uiInputTextForAutocomplete, .forceSearchInputLookupDesktop.uiInput .uiInputTextForAutocomplete:focus {background: white !important;}

/* Featured Topics */
.forceTopicFeaturedTopics, .topicLabel {font-size:1.7rem !important; font-weight:600 !important}
.forceTopicFeaturedTopicItem.topicItem {padding:6px !important;}

/* Feed Compact */
.cuf-retryPanel.forceChatterCompactFeed {display:none;}

/* Feed Publisher */
.oneActionsComposer.uiTabset--task .tabs__item a span.title {font-size: 1.1rem !important;}

/* Group Banner */
.forceCommunityGroupHighlightStencilNapili.forceRecordLayout {background-color : #ffffff;}

/* Group Details */
.forceChatterOutputDescription .gxmorelink {display: none !important;}
.forceChatterOutputInformationBody.gxmorelink {display: none !important;}
.f orceDetailPanelDesktop.slds-card {padding:0px !important;}

/* Group Tiles */
.forceChatterGroupTileTemplate {border-color:#e8e8e8;  border-radius:5px; border-style:solid; border-width:1px; margin:6px; width:32%}

/* Group Tiles - Make the group list full width (non-mobile only) */
@media only screen and (min-width: 768px)
{.forceChatterObjectHomeTileView section {width:100% !important;}
}

/* Header - Menu Item font size, except for mobile */
@media screen and (min-width: 490px) 
{.horizontalMenuItem {font-size: 1rem !important;}  
}
/* Header - User Profile Icon (desktop and mobile) */
.forceCommunityThemeProfileMenu .profile-icon {width: 40px !important; height: 40px !important;}
.comm-user-profile-menu .slds-avatar {width: 40px !important; height: 40px ;}

/* Headline - Reduce the padding at the top of the component */
.forceCommunityHeadline .headlineTitle {padding-top:0px !important;}
.forceCommunityHeadline .headlineInfo {margin:0px !important;}

/* Hero */
.forceCommunityThemeHeroBase .contentSubtitle {margin-top: 6px !important;}

/* Lead List */
.forceCommunityLeadInboxStencil .primaryField {max-width: 75% !important;}

/* Messages - Top align the messages */
.forceChatterMessageDetailView .messageContent {display: block !important;}

/* My Setting hide top row */
.forceCommunityUserSettingsCustomizable .row:first-child {display:none;}

/* Nav pull-down border */
@media only screen and (min-width: 48em)
{.comm-drilldown-navigation__list[community_navigation-drilldownNavigationList_drilldownNavigationList] {outline: unset !important;}}

/* Profile Image title */
.profile-title {justify-content: center; margin-top:-24px;}

/* Record Banner */
.forceHighlightsStencilDesktop .slds-page-header__detail-row {background-color:rgba(255,255,255,0) !important}

/* Record List - Font size on compact record lists */
.forceCommunityRecordListCompactCard .primaryField {font-size: unset;}
/* Record List component reset title */
.forceCommunityRecordListStandard .listTitle,
.forceCommunityRecordListCompact .filterListPlaceholder .listTitle {text-transform: revert !important;}

/* Search Results - Discussion results background */
.forceCommunitySearch .compactFeed.forceChatterCompactFeed {background-color : #ffffff !important;} 

/* Search results text size above filters */    
.forceSearchScopesList.scrollerWrapper>.slds-nav-vertical__title {display:none;}

/* Section titles. To change the alignment, set justify-content */
.section-title {margin-bottom:-6px; text-align: left;}
.section-title-center {margin-bottom:-6px; text-align: center;}

/* Suggested Actions */
.slds-m-horizontal_x-small, .slds-m-horizontal--x-small {border-width: 0px; margin-left: 12px; margin-right: 12px; padding: 6px 6px 12px 12px;}
.runtime_communities_nbaNbaCard {margin-bottom: 6px;}

/* Spacing below Search or Buttons */
.forceCommunityThemeHeroStarter .searchRegion {margin-bottom:-12px !important;}
.forceCommunityThemeSearchSection .search-triggerButton {height: unset !important;}

/* --- Tabs --- */
.uiTabset--default .tabs__nav {background-color: #f0f0f0 !important;} 

/* Tabs (New) */
.forceCommunityTabLayout {background-color: transparent !important;} 

/* Tabs */
.tabHeader {font-size: 1.6rem !important;}

/* Tabs for mobile */
@media only screen and (max-width: 480px)
{.tabHeader {font-size: 1.1rem !important;}}

.forceCommunityTabset>.uiTabBar .uiTabItem .tabHeader {font-size: 20px !important;}
/* Tabs (new) font size */
.forceCommunityTabLayout .slds-tabs_default__nav .slds-tabs_default__item .slds-tabs_default__link {font-size: 20px !important;}
/* Tabs (new) spacing */
.forceCommunityTabLayout .slds-tabs_default__nav .slds-tabs_default__item:not(:first-child) {margin-left: .75rem !important;}

/* --- END Tabs --- */

/* Tasks sub-tabs */
.runtime_sales_pipelineboardPipelineViewMultipleRecordTypeTabSet .tabs__item a {font-size:1rem !important;}
.forceCommunityRecordListDesktop.forceListViewManager .listDisplays {min-height: 840px;}

/* Tile Menu */
.comm-tile-menu__item-title.community_navigation-tileMenuItemBanner_tileMenuItemBanner {font-size:1.3rem !important; font-weight:600;}
.comm-tile-menu__item-title.lwc-rfo3qhj7u4 {font-size: 1.4rem !important;}

/* Topic details - hide the article summary */
.selfServiceTopicArticleList .selfServiceArticleListItem .article-summary {display:none !important;}

/* Topic Catelog */
.forceCommunityTopicCatalog .topicHierarchy-topBox {border-width: 0px !important; margin-left:12px;}
.forceCommunityTopicCatalog .topicHierarchy-top {font-weight: 400 !important;}

/* User Profile */
.forceCommunityUserProfileBody .cUserProfileCon {margin-top:0px !important; padding-top:0px !important; padding-left:0px !important; padding-right:0px !important; padding-bottom:0px !important;}
.forceCommunityUserProfileBody .cUserProfileDetailCon.large.fullwidth {padding-bottom: 0px; padding-left: 0px; padding-right: 0px;}

/* User Profile Name */
.siteforcePrmBody .cHeader .selfServiceProfileMenuTrigger .profileName, .siteforcePrmBody .cHeader .selfServiceProfileMenu .uiMenuItem a {font-size: 1.2rem !important;}

/* User Profile Badges */
.communitySetupUserRecognitionBadgeItem {width: fit-content !important;}